*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("images/Mars.jpeg");
    background-size: cover;
}
.container{
    color: green;
    font-family: 'Odibee Sans', cursive;
    font-size: 32px;
}

.Pacific{
   
    
}
.Eastern{
   
}